/* Общие стили */
body {
    font-family: 'Manrope', sans-serif;
    font-weight: 400; /* обычный */
    /* background-color:#EBE2D7; */
    ;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    background-color: #EBE2D7;
    padding: 10px 25px;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.link--blue {
    color: #fff;
    background-color: #1A274E;
}

/* header */

.header {
    background-color: #fff;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px;
}

.header__left {
    display: flex;
    gap: 40px;
}

.header__nav-list {
    display: flex;
    gap: 20px;
}

.header__nav-link{
    color: #242424;
    font-size: 16px;
}

.header__icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* main */

/* .main {

} */

/* hero */

.hero {
    background-color:#EBE2D7;
}

.hero__inner{
    padding: 90px 0 5px;
    text-align: center;
}

.hero__title {
    margin-bottom: 10px;

    font-size: 48px;
    font-weight: 700;
    color: #1A274E;
}

.hero__subtitle {
    margin-bottom: 10px;

    font-size: 22px;
    font-weight: 700;
    color: #1A274E;
}

.hero__dots {
    display: flex; 
    gap: 8px; 
    justify-content: center; 
    margin-top: 65px;
}

.dot {
    width: 8px;  
    height: 8px; 
    background-color: #fff; 
    border-radius: 50%; 
    transition: background-color 0.3s ease; 
    cursor: pointer; 
}

.dot.active {
    background-color: #1e2a78; 
    transform: scale(1.2); 
}